*{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI';
  text-decoration: none;
  vertical-align: baseline;
  list-style: none;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}
.wrapper {
  width: 1000px;
  display: flex;
  margin: 0 auto;
}
.beneficios {
  padding: 3em 0;
  background: #888888;
}
.content-beneficios {
  width: 640px;
  margin: 0 auto;
}
.lista-beneficios {
  margin-top: 20px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
.itens {
  line-height: 1.8;
}
li {
display: flex;
align-items: center;
}
.itens:before {
  content: "🟊";
  padding: 3px;
}
.imagem-beneficios {
  width: 60%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 10px 10px 10px 0 #000000;
}
.imagem-beneficios:hover {
  opacity: 0.3;
}
.menu {
  width: 400px;
  background-color: #767171;
  padding: 0px 10px 0px 10px;
}
.menu ul {
  list-style: none;
  padding: 0px;
  width: 200px;
}
.menu ul li {
  display: block;
  margin-top: 60px;
  text-align: center;
  padding: 0;
}
.menu ul li a {
  background-color: #c5c1c1;
  text-decoration: none;
  padding: 10px;
  display: block;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
}
.menu ul li a:hover {
  background-color: orange;
}
.main {
  display: flex;
  flex-flow: column;
  min-height: 100px;
}
.header {
  background-color: rgb(154, 148, 148);
  width: 100%;
  min-height: 100px;
}
.header .img {
 width: auto;
}
.content {
  text-align: center;
  background-color: white;
  min-height: 200px;
  padding: 10px;
  padding-top: 5px;
  font-family: 'Segoe UI';
}
.content-compromisso ul li {
  margin-top: 10px;
  text-align: left;
}
.content-sorriso {
  margin-top: 7px;
  margin-bottom: 7px;
}
h1 h2 h3 {
  margin-top: 10px;
  font-size: small;
}
table {
  margin-top: 15px;
  padding-left: 60px;
  margin-left: 120px;
  border-collapse: collapse;
  align-items: center;
}
table thead tr {
  background-color: #333;
  color: white;
  align-items: center;
}
table th, table td {
  padding: 8px 40px;
  padding-left: 60px;
  margin-left: 120px;
  text-align: center;
  border: 2px solid black;
  
}
table tbody tr:nth-child(even) {
  background-color: #d2d2d2;
}
table tr td:first-child {
  text-align: left;
}
.container-fluid {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 300px;
  padding-right: 300px;
  color: black;
}
form {
  margin: 5px 100px;
}
form label, form legend {
  display: block;
  font-size: 15px;
  margin: 0 10 0 10;
 
}
.input-padrao {
  display: block;
  margin-left: 200px ;
  padding: 10px;
  width: 50%;
  height: 10%;
  cursor: pointer; 
}
.checkbox {
 margin: 10px 0;
}
.enviar {
  width: 30%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: nome;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}
.enviar:hover {
  background: darkorange;
  transform: scale(1.2);
}
.footer {
  background-color: #c5c1c1;
}
.copyright {
  color: black;
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
} 